<?xml version="1.0" encoding="utf-8"?>

<log4net>
    <appender name="AopError" type="log4net.Appender.RollingFileAppender">
        <!-- 线上禁止配置在程序目录，需修改为具体日志路径 -->
        <file value="logs/" />
        <appendToFile value="true"/><!-- 是否到附加到文件中-->
        <rollingStyle value="Date" />
        <datePattern value="yyyy-MM-dd" />
        <layout type="log4net.Layout.PatternLayout"> <!---日志内容布局-->
            <param name="ConversionPattern" value="%date [%thread] (%file:%line) %-5level %logger [%property{NDC}] - %message%newline"/>
        </layout>
    </appender>

    <root>
        <!--  -->
        <level value="Debug" />
        <appender-ref ref="AopError" />
    </root>
</log4net>